<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>

<app-template #pdfTemplate [(formulario)]="formulario"></app-template>

<form #formFormulario="ngForm">
    <p-toolbar styleClass="p-mb-4">
        <div class="p-toolbar-group-left margin-button">
            <p-button label="Novo" icon="pi pi-plus" (click)="confirmaNovoFormulario($event)"></p-button>
            <input type="file" id="file" (change)="carregarFormulario($event.target.files)"
                accept=".json,application/json" style="display: none;">
            <label pButton for="file" label="Carregar" icon="pi pi-upload" class="p-button-success"></label>
            <p-button label="Salvar" icon="pi pi-save" styleClass="p-button-success" (click)="baixarFormulario()">
            </p-button>
        </div>

        <div class="p-toolbar-group-left margin-button">
            <button pButton type="submit" icon="pi pi-file-pdf" label="Exportar" (click)="exportar($event)"
                class="p-button-warning"></button>
        </div>
    </p-toolbar>

    <p-card class="form-group">
        <div class="p-grid p-ai-end vertical-container">
            <div class="p-col-fixed" style="width:158px">
                <img width="150" [src]='_DomSanitizer.bypassSecurityTrustUrl(formulario.imagem)'>
            </div>
            <div class="p-col">

                <input type="file" id="fileLogo" (change)="uploadLogo($event.target.files)" accept="image/*"
                    style="display: none;">
                <label pButton for="fileLogo" label="Carregar" icon="pi pi-upload"
                    class="p-button-success p-mb-2"></label>

                <span class="p-float-label">
                    <input name="titulo" type="text" placeholder="Titulo Formulario" #titulo="ngModel" pInputText
                        style="width:100%" [(ngModel)]="formulario.titulo" class="form-control" required>
                </span>
                <small *ngIf="titulo.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-8 p-lg-8">
                <span class="p-float-label">
                    <input id="float-input" type="text" [(ngModel)]="formulario.empreendimento" name="empreendimento"
                        class="form-control" pInputText>
                    <label for="float-input">Empreendimento</label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-4 p-lg-4">
                <span class="p-float-label">
                    <input id="float-input" type="text" [(ngModel)]="formulario.unidade" name="unidade"
                        #unidade="ngModel" class="form-control" pInputText required>
                    <label for="float-input">Unidade(s)</label>
                </span>
                <small *ngIf="unidade.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
            </div>
        </div>

        <p-accordion [multiple]="true">
            <p-accordionTab *ngFor="let cliente of formulario.dadosClientes; index as index; first as isFirst"
                [header]="isFirst ? 'Cliente' : formulario.dadosClientes[0].dados.estadocivil === 'Solteiro' ? 'Cliente 2' : 'Cônjuge'"
                [selected]="isFirst">
                <p-accordion [multiple]="true">
                    <p-accordionTab header="Dados" [selected]="true">

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="cliente.dados.nome" #nome="ngModel"
                                        name="dados.nome{{index}}" class="form-control" pInputText required>
                                    <label for="float-input">Nome</label>
                                </span>
                                <small *ngIf="nome.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-8 p-lg-8">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-envelope"></i>
                                    </span>
                                    <span class="p-float-label">
                                        <input type="email" id="inputgroup" [(ngModel)]="cliente.dados.email"
                                            name="dados.email{{index}}" class="form-control" pInputText email="true" />
                                        <label for="inputgroup">Email</label>
                                    </span>
                                </div>
                            </div>

                            <div class="p-field p-col-12 p-md-4 p-lg-4">
                                <span class="p-float-label">
                                    <input id="float-input" [(ngModel)]="cliente.dados.telefone" #telefone="ngModel"
                                        name="dados.telefone{{index}}" class="form-control" pInputText
                                        [dropSpecialCharacters]="false" mask="(00) 0000-0000||(00) 0 0000-0000"
                                        required />
                                    <label for="float-input">Telefone</label>
                                </span>
                                <small *ngIf="nome.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="cliente.dados.endereco"
                                        #endereco="ngModel" name="dados.endereco{{index}}" class="form-control"
                                        pInputText required>
                                    <label for="float-input">Endereço</label>
                                </span>
                                <small *ngIf="endereco.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-4 p-lg-4">
                                <span class="p-float-label">
                                    <input id="float-input" name="dados.cpf{{index}}" [(ngModel)]="cliente.dados.cpf"
                                        #cpf="ngModel" class="form-control" pInputText [dropSpecialCharacters]="false"
                                        mask="000.000.000-00" (blur)="validarCpf($event)" required />
                                    <label for="float-input">CPF</label>
                                </span>
                                <small *ngIf="cpf.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-4 p-lg-4">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="cliente.dados.rg" #rg="ngModel"
                                        name="dados.rg{{index}}" class="form-control" pInputText required>
                                    <label for="float-input">RG</label>
                                </span>
                                <small *ngIf="rg.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-4 p-lg-4">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-calendar"></i>
                                    </span>
                                    <span class="p-float-label">
                                        <p-calendar id="inputgroup" [(ngModel)]="cliente.dados.dataNascimento"
                                            name="dados.dataNascimento{{index}}" class="form-control"
                                            dateFormat="dd/mm/yy" styleClass="calendar">
                                        </p-calendar>
                                        <label for="inputgroup">Nascimento</label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText [(ngModel)]="cliente.dados.formacao"
                                        #formacao="ngModel" name="dados.formacao{{index}}" class="form-control"
                                        required>
                                    <label for="float-input">Formação</label>
                                </span>
                                <small *ngIf="formacao.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>
                        </div>

                        <div *ngIf="isFirst"
                            class="p-fluid p-formgrid p-grid p-ai-center vertical-container min-height">
                            <div class="p-field p-col-12 p-md-2 p-lg-2">
                                <div class="p-field-radiobutton">
                                    <p-radioButton name="dados.estadocivil{{index}}" value="Solteiro"
                                        (click)="gerarCliente2()" [(ngModel)]="cliente.dados.estadocivil"
                                        class="form-control" inputId="estadocivil1">
                                    </p-radioButton>
                                    <label for="estadocivil1">Solteiro</label>
                                </div>
                            </div>

                            <div class="p-field p-col-12 p-md-2 p-lg-2">
                                <div class="p-field-radiobutton">
                                    <p-radioButton name="dados.estadocivil{{index}}" value="Casado"
                                        (click)="gerarCliente2()" [(ngModel)]="cliente.dados.estadocivil"
                                        class="form-control" inputId="estadocivil2">
                                    </p-radioButton>
                                    <label for="estadocivil2">Casado</label>
                                </div>
                            </div>
                            <div class="p-field p-col-12 p-md-2 p-lg-2">
                                <div class="p-field-radiobutton">
                                    <p-radioButton name="dados.estadocivil{{index}}" value="Outros"
                                        (click)="gerarCliente2()" [(ngModel)]="cliente.dados.estadocivil"
                                        class="form-control" inputId="estadocivil3">
                                    </p-radioButton>
                                    <label for="estadocivil3">Outros</label>
                                </div>
                            </div>

                            <div class="p-field p-col-12 p-md-6 p-lg-6" *ngIf="cliente.dados.estadocivil==='Outros'">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" #estadocivilespecifico="ngModel"
                                        [(ngModel)]="cliente.dados.estadocivilespecifico"
                                        name="dados.estadocivilespecifico{{index}}" class="form-control" pInputText
                                        required>
                                    <label for="float-input">Especifique</label>
                                </span>
                                <small *ngIf="estadocivilespecifico.errors?.required" class="p-invalid">*Campo
                                    obrigatorio.</small>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid"
                            *ngIf="isFirst && cliente.dados.estadocivil==='Casado' || cliente.dados.estadocivil==='Outros'">
                            <div class="p-field p-col-12 p-md-6 p-lg-6">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="cliente.dados.regimeComunhao"
                                        #regimeComunhao="ngModel" name="dados.regimeComunhao{{index}}"
                                        class="form-control" pInputText required>
                                    <label for="float-input">Regime de comunhão</label>
                                </span>
                                <small *ngIf="regimeComunhao.errors?.required" class="p-invalid">*Campo
                                    obrigatorio.</small>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Dados Empresa">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="cliente.dadosEmpresa.razaoSocial"
                                        name="dadosEmpresa.razaoSocial{{index}}" class="form-control" pInputText>
                                    <label for="float-input">Razão social</label>
                                </span>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="cliente.dadosEmpresa.endereco"
                                        name="dadosEmpresa.endereco{{index}}" class="form-control" pInputText>
                                    <label for="float-input">Endereço</label>
                                </span>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-9 p-lg-9">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="cliente.dadosEmpresa.funcao"
                                        name="dadosEmpresa.funcao{{index}}" class="form-control" pInputText>
                                    <label for="float-input">Função</label>
                                </span>
                            </div>

                            <div class="p-field p-col-12 p-md-3 p-lg-3">
                                <span class="p-float-label">
                                    <p-inputNumber id="float-input" [min]="0" prefix="R$ " mode="decimal" locale="pt-BR"
                                        [minFractionDigits]="2" [(ngModel)]="cliente.dadosEmpresa.salario"
                                        name="dadosEmpresa.salario{{index}}" class="form-control">
                                    </p-inputNumber>
                                    <label for="float-input">Salário</label>
                                </span>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-8 p-lg-8">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-envelope"></i>
                                    </span>
                                    <span class="p-float-label">
                                        <input type="text" id="inputgroup" [(ngModel)]="cliente.dadosEmpresa.email"
                                            email="true" name="dadosEmpresa.email{{index}}" class="form-control"
                                            pInputText />
                                        <label for="inputgroup">Email</label>
                                    </span>
                                </div>
                            </div>

                            <div class="p-field p-col-12 p-md-4 p-lg-4">
                                <span class="p-float-label">
                                    <input id="float-input" [(ngModel)]="cliente.dadosEmpresa.telefone"
                                        name="dadosEmpresa.telefone{{index}}" class="form-control" pInputText
                                        [dropSpecialCharacters]="false" mask="(00) 0000-0000||(00) 0 0000-0000" />
                                    <label for="float-input">Telefone</label>
                                </span>
                            </div>
                        </div>
                    </p-accordionTab>
                    <p-accordionTab *ngIf="isFirst" header="Referências Pessoais">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-7 p-lg-7">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="cliente.referenciaPessoal[0].nome"
                                        #nome="ngModel" name="referenciaPessoal[0].nome{{index}}" class="form-control"
                                        pInputText required>
                                    <label for="float-input">Nome</label>
                                </span>
                                <small *ngIf="nome.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-5 p-lg-5">
                                <span class="p-float-label">
                                    <input id="float-input" [(ngModel)]="cliente.referenciaPessoal[0].telefone"
                                        #telefone="ngModel" name="referenciaPessoal[0].telefone{{index}}"
                                        class="form-control" pInputText [dropSpecialCharacters]="false"
                                        mask="(00) 0000-0000||(00) 0 0000-0000" required />
                                    <label for="float-input">Telefone</label>
                                </span>
                                <small *ngIf="telefone.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-7 p-lg-7">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="cliente.referenciaPessoal[1].nome"
                                        #nome="ngModel" name="referenciaPessoal[1].nome{{index}}" class="form-control"
                                        pInputText required>
                                    <label for="float-input">Nome</label>
                                </span>
                                <small *ngIf="nome.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-5 p-lg-5">
                                <span class="p-float-label">
                                    <input id="float-input" [(ngModel)]="cliente.referenciaPessoal[1].telefone"
                                        #telefone="ngModel" name="referenciaPessoal[1].telefone{{index}}"
                                        class="form-control" pInputText [dropSpecialCharacters]="false"
                                        mask="(00) 0000-0000||(00) 0 0000-0000" required />
                                    <label for="float-input">Telefone</label>
                                </span>
                                <small *ngIf="telefone.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </p-accordionTab>
            <p-accordionTab header="Especificação da Proposta">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3 p-lg-2">
                        <span class="p-float-label">
                            <p-inputNumber id="float-input" [(ngModel)]="formulario.valorImovel" name="valorImovel"
                                #valorImovel="ngModel" class="form-control" [min]="0" prefix="R$ " mode="decimal"
                                locale="pt-BR" [minFractionDigits]="2" required>
                            </p-inputNumber>
                            <label for="float-input">Valor do imóvel</label>
                        </span>
                        <small *ngIf="valorImovel.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                    </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12">
                        <span class="p-float-label">
                            <textarea inputId="textarea" [(ngModel)]="formulario.formaPagamento" name="formaPagamento"
                                #formaPagamento="ngModel" class="form-control" rows="8" cols="90" pInputTextarea
                                required></textarea>
                            <label for="textarea">Forma de pagamento</label>
                        </span>
                        <small *ngIf="formaPagamento.errors?.required" class="p-invalid">*Campo obrigatorio.</small>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </p-card>
</form>